/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
}

.title {
    margin: 0;
    font-size: 1.5rem;
    color: inherit;
}

.theme-toggle {
    cursor: pointer;
}

/* Theme switch */
body {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

pre {
    background-color: white;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}
body.dark-theme pre{
    background-color: #1e1e1e;
    color: inherit;
}

body.dark-theme {
    background-color: #121212;
    color: white;
}

body.dark-theme .header {
    background-color: black;
    color: white;
}

/* Container cards */
.tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    padding: 24px;
    color: inherit;
    background: none;
    font-family: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}

.tile-container pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    margin: 0;
    background-color: inherit;
    color: inherit;
}

.tile-container > div {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s, color 0.3s;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.tile-container > div:hover {
    transform: translate(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

body.dark-theme .tile-container > div {
    background-color: #1e1e1e;
    color: inherit;
    background: #1e1e1e
}

.tile-container > div,
.tile-container > div h2,
.tile-container > div pre {
    transition: background-color 0.3s, color 0.3s;
}

.tile-container > div h2 {
    margin-top: 0;
    margin-bottom: 14px;
}